#seeShim {
    width: 300;
    height: 150;
    display: block;
    margin: auto;
    background-color: #e2d42b54
}

#message {
    display: block;
    margin: auto;
    height: 50;
    width: 500;
    background-color: antiquewhite;
}